/* ANIMATIONS */
@keyframes mole-hit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mole-inactive {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes title-flash {
    from {
        border: 10px dotted yellow;
    }
    to {
        border: 10px dashed yellow;
    }
}

/* STYLING */
body {
    margin: 0;
    padding: 0;
    background: slategray;
    font-family: 'Press Start 2P', cursive;
}

#main {
    width: 800px;
    margin: auto;
    text-align: center;
}

label {
    margin-top: 33px;
    font-size: 1.5rem;
}
input, select {
    margin-top: 33px;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.container h1 {
    margin: auto;
    padding: 13px;
    font-size: 2.5rem;
    animation: title-flash 100ms linear alternate infinite;
    width: auto;
    color: white;
    text-shadow: 0 0 33px black;
}

#gamerules {
    font-size: 1.5rem;
    width: auto;
}

#gamedesc {
    text-align: left;
}
#bluemole {
    color: aqua
}

#redmole {
    color: red
}

.icon {
    width: 35px;
    
}

#submit {
    border: 1px solid black;
    background: aqua;
    border-radius: 6px;
    padding: 13px 66px;
    width: fit-content;
    margin: 20px auto 0 auto;
}

#submit:active {
    background: red;
}

#submit:hover {
    background: yellow;
}

#section-mole-board {
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../images/grass2.png');
    background-size: auto;
    background-repeat: repeat;
    border-top: 13px solid black;
    border-left: 13px solid black;
    border-right: 13px solid white;
    border-bottom: 13px solid white;
}

.border {
    border-top: 13px solid black;
    border-left: 13px solid black;
    border-right: 13px solid white;
    border-bottom: 13px solid white;
}

#section-mole-board img {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

#mole-active {
    cursor: url('../images/gun.cur'), crosshair;
}

#mole-inactive {
    animation: mole-inactive 500ms forwards;
}

#mole-hit {
    animation: mole-hit 500ms forwards;
}

#mole-board img {
    width: fit-content;
    justify-content: space-between;
}


#section-score-timer {
    padding: 13px;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

ul, li {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li span {
    font-size: .85rem;
}
h3 {
    padding: 0;
    margin: 40px 0 0 0;
}
form {
    border: 3px solid black;
    border-radius: 13px;
    padding: 13px;
    background: rgba(255, 255, 255, .25);
}

#high-scores {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-collapse: collapse;
    background-color: lightgreen;
}

th {
    border-bottom: 2px solid black;   
}

.number-column {
    text-align: right;   
} 

td, th {
    padding: 10px;
}

#current-score-section {
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: 20px auto 0 auto;
}